.segmented-control {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.segmented-control__button {
    cursor: pointer;
    border: none;
}

.segmented-control__button[aria-selected='true'] {
    background-color: var(--title-color);
    color: var(--control-background);
}

.segmented-control .segmented-control__button:not(:first-child) {
    border-left: 1px solid #ccc;
}